@using ApplicationService.DAO
@using ApplicationService.Interfaces
@using FileManager.DAO
@using static Presentation.Maui.Components.Shared.Pagination

@inject NavigationManager Navigation


<table class="table table-dark table-striped w-100">
    <thead class="thead-dark">
        <tr>
            <th>Name</th><th>Size</th><th></th>
        </tr>
    </thead>
    @foreach (TableSelectionDAO.TableRows file in GetRows() )
    {
        <tr>
            <td class="table-light table-division">
                    @file.FileName
            </td>

            <td class="table-light">@file.FileSize</td>
            
            <td class="table-light">
                <input id="@file.FileIdentity.Id" 
                    type="checkbox" 
                    checked="@file.IsChecked"
                        @onchange="(e)=>CheckBoxChanged(e , file.FileIdentity)" />
            </td>
        </tr>
    }    
    
</table>
<Pagination OnPageChangedCallBack="PageChangedCallBack" 
    ItemCount="@DataTableFiles.GetRows().Count()"
    PageSize="10"
></Pagination>
@code{
    [Parameter]
    public ITableSelection DataTableFiles { get; set; }

    public PaginationDTO Pagination { get; set; }

    private List<TableSelectionDAO.TableRows> GetRows()
         => Pagination == null
            ? DataTableFiles.GetRows()
            : DataTableFiles.GetRows().Skip(Pagination.skip).Take(Pagination.take).ToList();

    private void PageChangedCallBack(PaginationDTO dto)
        => Pagination = dto;

    private void CheckBoxChanged(ChangeEventArgs e, FileIdentity fi)
        => DataTableFiles.CheckBoxChanged(fi, (bool)e.Value);
}